.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath

# Eclipse Core
.project

# JDT-specific (Eclipse Java Development Tools)
.classpath

# Maven
log/
target/

# Specific solution ignore. Instances can be found in the OR-Library: http://people.brunel.ac.uk/~mastjjb/jeb/orlib/scpinfo.html
analysis/scp-instances
analysis/output
